/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

:root{


    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;

    font-size: 35px;
    --library-width: 1200px;

}

  

.library-header{
    font-size: 60px;
    color: rgba(190, 116, 46, 0.788);

}

.add-new-book-box {
    border: 1px solid red;
    border-radius: 20px;
    font-size: 40px;
    width: var(--library-width);
    padding: 20px;
    background-color:chocolate;
}

.library{
    display: flex;
    width: var(--library-width);
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid black;
    gap: 30px;
    padding: 50px;
}

.book{

    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    
}

.novel {
    width: 200px;
    height: 400px;
    border-radius: 10px;

    font-size: 20px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.nonfiction{
    width: 250px;
    height: 390px;
    border-radius: 5px;

    font-size: 30px;
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
  
}

.biography{
    width: 200px;
    height: 350px;
    font-size: 25px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 5px;
}
